/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */
header {
    background: linear-gradient(90deg, #3b8dff, #6c5ce7);
    color: white;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hero Section Styles */
.hero {
    background-image: url('./images/pexels-michael-steinberg-95604-346553.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 5rem 0;
    text-align: center;
}

.hero h2 {
    font-size: 3rem;
    margin: 0;
}

.hero p {
    font-size: 1.5rem;
}

/* About Us Section Styles */
.about {
    background-color: white;
    padding: 3rem 0;
    text-align: center;
}

.about h2 {
    font-size: 3rem;
}

.about p {
    font-size: 3rem;
}

/* Products/Services Section Styles */
.products {
    background-color: #f4f4f4;
    padding: 3rem 0;
    text-align: center;
}

.products h2 {
    font-size: 3rem;
}

.products img {
    width: 100%;
    max-width: 300px;
    margin: 3rem;
    height: 250px;
}

/* Information Section Styles */
.info {
    background-color: white;
    padding: 3rem 0;
    text-align: center;
}

.info h2 {
    font-size: 2.5rem;
}

.info form {
    max-width: 600px;
    margin: 0 auto;
}

.info form input, .info form textarea {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
}

.info form button {
    padding: 1rem;
    background-color: #3b8dff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

/* Contact Us Section Styles */
.contact {
    background-color: #f4f4f4;
    padding: 3rem 0;
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
}

.contact p {
    font-size: 1.2rem;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

footer .social img {
    width: 30px;
    margin: 0 10px;
}